[Desktop Entry]
Type=Application
Name=Wick
GenericName=Trading Journal
GenericName[zh_CN]=交易日记
Comment=By candlelight — a trading journal
Comment[zh_CN]=秉烛而记,落子无悔
Exec=wick --dropbox-callback %u
Icon=wick
Terminal=false
Categories=Office;Utility;Finance;
StartupNotify=false
StartupWMClass=wick
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/db-hm5yscsy9a11g0q;
Keywords=journal;diary;trading;wick;
